:root {
    --font-size-body-s: 1rem;
    --font-size-body-m: 1.25rem;
    --font-size-body-l: 2rem;
    --color-gray: #323130;
    --color-green: #225147;
    --color-yellow: #f8f5df;
    --color-lightgreen: #cdd6ae;
    --color-link: var(--color-gray);
    --color-section-bg: var(--color-green);
    --color-section-color: var(--color-yellow);
    --flow-space: 1rem;
}
