@use "./sass-vars" as *;

// a:not([class]) {
//     text-underline-offset: $link-underline-offset;

//     &:hover {
//         text-underline-offset: $link-underline-offset-double;
//     }
//     &:focus-visible {
//         text-decoration: none;
//         outline: 1.5px solid currentColor;

//         &:hover {
//             text-decoration: underline;
//             text-decoration-color: currentColor;
//             text-underline-offset: $link-underline-offset;
//         }
//     }
// }

// :focus-visible {
//     outline: 2px solid var(--color-gray);
// }

// button {
//     padding: $gap-025 $gap-05;
//     outline: 2.5px solid var(--color-gray);
//     border-radius: $border-radius-025;
//     font-weight: 700;

//     &:hover,
//     &:focus-visible {
//         background-color: var(--color-gray);
//         color: var(--color-accent);
//     }
// }

.skiplink {
  text-decoration: none;
  background-color:  var(--color-gray);
}

.skiplink:focus-visible {
  position: fixed;
  top: 1rem;
  left: 1rem;
}
