.visuallyhidden:not(:focus-visible):not(:active) {
    position: absolute;
    clip-path: inset(50%);
    overflow: hidden;
    width: 1px;
    height: 1px;
    white-space: nowrap;
}

.text-accent-regular {
  font-family: "Archivo Narrow Regular";
  font-weight: 400;
}
.text-accent-bold {
  font-family: "Archivo Narrow Bold";
  font-weight: 700;
}

.text-copy-light {
  font-family: "Spectral Light";
  font-weight: 300;
}

.text-copy-regular {
  font-family: "Spectral Regular";
  font-weight: 400;
}

.text-copy-bold {
  font-family: "Spectral Semibold";
  font-weight: 600;
}

.color-gray {color: var(--color-gray);}
.color-accent-primary {color: var(--color-accent-primary);}
.color-accent-secondary {color: var(--color-accent-secondary);}
.color-accent-tertiary {color: var(--color-accent-tertiary);}
