---
layout: base
title: Student projects
permalink: "student-projects/"
eleventyNavigation:
  key: student
  order: 1
---

<h2>Projects @ School4Games</h2>
<p>
  One sentence introducing the ausbildung. More or less repeating the home page section.
</p>
{% include "includes/studentPageCards.njk" %}
