---
layout: base
title: Student Projects
permalink: "student-projects/"
eleventyNavigation:
  key: student
  order: 1
---

<h1>Projects @ School4Games</h1>

<div class="flow flow-step-4 breakout content--home">
  {% include "includes/studentPageCards.njk" %}
</div>
