---
layout: base
title: Student projects
listed: true
order: 1
permalink: "student-projects/"
---

<h2>Projects @ School4Games</h2>
<p>
  One sentence introducing the ausbildung. More or less repeating the home page section.
</p>
{% include "includes/studentPageCards.njk" %}
