---
layout: base
pagination:
  data: student
  size: 1
  alias: student
  addAllPagesToCollections: true
permalink: "student-projects/{{ student.title | slugify }}/"
eleventyNavigation:
  key: studentproject
  title: {{ student.title }}
  parent: student
---

<div class="hero full-width">
{% if student.heroImage.src %}
{% heroimage student.heroImage.src, student.heroImage.alt, "full-width hero__img" %}
{% endif %}
<h1>{{ student.title }}</h1>
</div>

<hr class="color-accent breakout">

{% if student.aboutGame %}
  <h2>About the game</h2>
  {% for item in student.aboutGame %}
  <p>{{item}}</p>
  {% endfor %}
{% endif %}

{% if student.story %}
  <h2>Story</h2>
  {% for item in student.story %}
  <p>{{item}}</p>
  {% endfor %}
{% endif %}


{% if student.video.videoId %}
  <h2>{{student.video.type}}</h2>
  <iframe width="600" height="338" src="https://www.youtube-nocookie.com/embed/{{student.video.videoId}}" title="{{student.video.description}}" frameborder="0" allow="encrypted-media;" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
{% endif %}


{% if student.responsibilities %}
  <h2>Responsibilities</h2>

  <div class="breakout flow skills">
    {% for item in student.responsibilities %}

      <div class="two-column">
        <div class="two-column__one flow">
          <h3>{{item.role}}</h3>
          {% if item.image %}
          <div class="skill__img-wrapper">
            {% image item.image.src, item.image.alt, "skill__img" %}
          </div>
          {% endif%}


          {% if item.skillGallery[0].src %}
            <div id="splide-skillGallery-{{ loop.index }}" class="splide">
              <div class="splide__track">
                <ul class="splide__list">
                  {% for img in item.skillGallery %}
                  <li class="splide__slide">
                    {% image img.src, img.alt %}
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}

        </div>
        <div class="two-column__two flow">
          {% for part in item.description %}
          <p>{{part}}</p>
          {% endfor %}

          {% if item.list %}
          <ul class="">
            {% for part in item.list %}
            <li>{{part}}</li>
            {% endfor %}
          </ul>
          {% endif%}
        </div>
      </div>

    {% endfor %}
  </div>

{% endif %}


{% if student.gallery[0].src %}
  <section id="splide-gallery" class="splide breakout flow" aria-labelledby="carousel-heading">
    <h2 id="carousel-heading">Project images</h2>

    <div class="splide__track">
      <ul class="splide__list">
        {% for item in student.gallery %}
        <li class="splide__slide">
          {% image item.src, item.alt, "gallery__img" %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endif %}


<script>
  document.addEventListener( 'DOMContentLoaded', function() {
    const galleries = document.querySelectorAll('.splide');
    galleries.forEach(slide => {
      let splide = new Splide(`#${slide.id}`, {
        type  : 'fade',
        rewind: true,
        padding: '3rem',
        gap:'2rem',
        lazyLoad: 'nearby',
      });
      splide.mount();
    });
  } );
</script>

<script defer src="/assets/vendor/splide-4.1.3/dist/js/splide.min.js"></script>
