---
layout: base
title: Trash and Stash
tags: personal
homepageorder: 4
permalink: "personal-projects/{{ title | slugify }}/"
eleventyNavigation:
  key: personalproject
  title: {{ page.title }}
  parent: personal
  order: 2
---

<p>trash-and-stash page</p>
