<svg width="117" height="49" viewBox="0 0 117 49" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="17.9454" y="1.14551" width="78.6182" height="33.3273" rx="2" fill="#FF0055"/>
<g filter="url(#filter0_d_3530_229)">
<circle cx="93.1454" cy="25.0727" r="23.0727" fill="#FF0055"/>
</g>
<g filter="url(#filter1_d_3530_229)">
<circle cx="23.0727" cy="25.0727" r="23.0727" fill="#FF0055"/>
</g>
<rect x="20.5091" y="13.1094" width="5.12727" height="23.9273" rx="1" fill="black"/>
<rect x="11.1091" y="27.6367" width="5.12727" height="23.9273" rx="1" transform="rotate(-90 11.1091 27.6367)" fill="black"/>
<circle cx="94" cy="16.5276" r="3.41818" fill="black"/>
<circle cx="94" cy="34.4729" r="3.41818" fill="black"/>
<circle cx="83.7455" cy="25.0725" r="3.41818" fill="black"/>
<circle cx="103.4" cy="25.0725" r="3.41818" fill="black"/>
<defs>
<filter id="filter0_d_3530_229" x="66.0727" y="0" width="50.1454" height="48.1455" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feMorphology radius="3" operator="erode" in="SourceAlpha" result="effect1_dropShadow_3530_229"/>
<feOffset dx="-3" dy="-1"/>
<feGaussianBlur stdDeviation="2"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_3530_229"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_3530_229" result="shape"/>
</filter>
<filter id="filter1_d_3530_229" x="0" y="0" width="48.1454" height="48.1455" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feMorphology radius="3" operator="erode" in="SourceAlpha" result="effect1_dropShadow_3530_229"/>
<feOffset dx="1" dy="-1"/>
<feGaussianBlur stdDeviation="2"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_3530_229"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_3530_229" result="shape"/>
</filter>
</defs>
</svg>
