@use "../sass-vars" as *;

.project-teaser {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 200px));
  gap: 1rem;

  &__link {
    @include hover-slide-focus;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 3/2;
    padding: 1rem;
    border-radius: 20px;
    text-decoration: none;
    // nneds a hack, see https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/border-image#examples
    border: 4px solid transparent;
    background-image:
      linear-gradient(var(--color-gray), var(--color-gray)), linear-gradient(35deg, var(--color-accent-primary), var(--color-accent-tertiary));
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
}
