<header class="page-header content-grid">
  <div class="breakout page-header__content">
    <div class="home-link">
      {% include "../icons/pacpunk-with-controller.njk" %}
      <a href="/" class="color-accent home-link__link">Robert Schmieder</a>
      <span class="home-link__byline">Game & Level Designer</span>
    </div>
    <nav class="main-nav" aria-label="Main">
      <button class="main-nav__mobile-toggle" aria-expanded="false">
        <span class="visuallyhidden">Menu</span>
        {% include "../icons/pacpunk-controller-only.njk" %}
      </button>
      <div class="main-nav__wrapper">
      {% include "./pageList.njk" %}
      <a href="/assets/files/Robert_Schmieder_CV_March_2026.pdf" target="_blank" class="color-accent text-accent-bold resume-link__link">Download Resume</a>
      </div>
    </nav>
  </div>
</header>
