<header class="page-header section--gray content-grid">
  <div class="breakout page-header__content">
    <div class="home-link">
      <a href="/" class="color-accent-primary home-link__link">Robert Schmieder</a>
      <span class="home-link__byline">Game & Level Designer</span>
    </div>
    <nav class="main-nav" aria-label="Main">
      {% include "./pageList.njk" %}
      <a href="/" class="color-accent-primary text-accent-bold resume-link__link">Download resume</a>
    </nav>
  </div>
</header>
