
{% set currentUrl = page.url %}

<ul class="main-nav__list">
    {% for page in collections.pages %}
    <li>
        <a href="{{ page.url | url }}" {{ 'aria-current=page' if currentUrl === page.url }} class="main-nav__link">
            {{ page.data.title }}
        </a>
    </li>
    {% endfor %}
</ul>
