
{% set currentUrl = page.url %}

<ul class="project-teaser--halves personal breakout">
    {% for page in collections.personal %}

    <li>
      <div class="card">
        {# too many position absolutes, hacky hidden extra link #}
        <a aria-hidden="true" tabindex="-1" href="/student-projects/{{ page.title | slugify }}" {{ 'aria-current=page' if currentUrl === page.url }} class="card__hack"></a>
        {% if page.heroImage.src %}
        <div class="card__img-wrapper">
          {% cardthumbnail page.heroImage.src, page.heroImage.alt, "card__img" %}
        </div>
        {% endif %}
        <div class="card__content">
          <a href="/student-projects/{{ page.title | slugify }}" {{ 'aria-current=page' if currentUrl === page.url }} class="card__link text-accent-bold">
            {{ page.data.title }}
          </a>
        </div>
      </div>
    </li>
    {% endfor %}
</ul>
