---
layout: base
title: Welcome to my portfolio
---

<div class="flow flow-step-4 breakout content--home">

  <h2>Projects @ School4Games</h2>
  <p>
    One sentence introducing the ausbildung.
  </p>
  {% include "includes/studentPageCards.njk" %}

  <hr class="color-accent breakout">

  <h2>Personal projects</h2>
  <p>
    One sentence introducing autodidactic projects.
  </p>

  <hr class="color-accent breakout">

</div>

