---
layout: base
title: About me
listed: true
order: 3
---

<h2>Hi there! I am Robert, Game & Level Designer.</h2>

<p>
  I am passionate about creating engaging and immersive experiences for a vast spectrum of audiences, providing people with joy, excitement and relaxation. 
</p>

<p>
  Currently, I am a student at School4Games in Berlin where I acquired the professional skills needed in the games industry.
</p>

<p>
  Before this, I already dabbled in designing and making games and realized several individual projects in Unity.
</p>

<p>
  Over the course of this education I made and released 3 games in teams of amazingly talented and endearing upcoming designers, artists and engineers. My final project, which is coming soon, will give me the opportunity to showcase my skills as an individual and dedicated Level Designer.
</p>

<h2>During my studies at School4Games I mastered:</h2>

<ul>
  <li>The art of writing professional and accessible Game Design Documentation</li>
  <li>Analysing Games and Levels in depth</li>
  <li>Designing Levels: 
    <ul>
      <li>Doing preparatory Research on: Reference games, movies, series, literature, anything else useful</li>
      <li>Analysing Reference Titles</li>
      <li>Outlining Levels in Text</li>
      <li>Sketching Layouts</li>
      <li>Making Block-Outs and iterating upon them</li>
      <li>Set Dressing in teams that don’t have (a) dedicated environment artist(s)</li>
    </ul>
  </li>
</ul>

<h3>I am versed in 3 Engines:</h3>

<ul>
  <li>Unity</li>
  <li>Unreal</li>
  <li>Godot</li>
</ul>

<h3>I am skilled in scripting with:</h3>

<ul>
  <li>C#</li>
  <li>Node-based Visual Scripting in Unreal Blueprints</li>
  <li>GDScript (Godot)/ Python</li>
</ul>

<h4>Furthermore, I am familiar with the following coding and markup-languages:</h4>

<ul>
  <li>C++, C</li>
  <li>HTML, CSS, JavaScript</li>
</ul>

<h2>Professional Experience before becoming a Game & Level Designer</h2>

<ul>
  <li>I have a Masters Degree in History.</p>
  <li>My professional background in history adds a unique perspective to my creative endeavors.</li>
  <li>The knowledge about human societies in different epochs and regions, their social practices, culture, architecture & art is very advantageous to the design process since often I have already a picture in my mind of how a town or city, the buildings and environment could look like.</li>
  <li>My studies on human societies serve as a rich pool of inspiration when designing immersive narratives.</p>
</ul>

<h2>Hobbies</h2>

<ul>
  <li>Playing Adventure, RPG, Survival & Stealth Games</li>
  <li>Traveling & Visiting Historical Sites</li>
  <li>Reading Novels</li>
  <li>Creative Writing </li>
  <li>Playing and Game Mastering Dungeons & Dragons</li>
</ul>

<h2>Current Favorite Games</h2>

<ul>
  <li>Witcher III: Wild Hunt</li>
  <li>Baldur’s Gate 3</li>
  <li>Zelda Series</li>
  <li>Tomb Raider & Uncharted Series</li>
  <li>Project Zomboid (yes, seriously one of the richest survival games ever made!)</li>
</ul>
