---
layout: base
title: Personal Projects
permalink: "personal-projects/"
eleventyNavigation:
  key: personal
  order: 2
---

<h1>Personal Projects</h1>

<div class="flow flow-80 breakout content--home">
  {% include "includes/personalPageCards.njk" %}
</div>
